<% provide(:title, "Contact") %>

<h2 class="text-center">Have questions?</h2>

<p class="text-center">I'll be glad to answer them! I'm available for freelance work and consulting</p>

<br>

<%= form_for @message, url: contact_url do |f| %>
  <%= notice %>
  <%= @message.errors.full_messages.join(', ') %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :body %>
  <%= f.text_area :body, class: "form-control" %>

  <%= f.submit 'Send Message', class: "btn btn-primary" %>
<% end %>
