<%= form_with(model: project, local: true, multipart: true) do |form| %>
<% if project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% project.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="container">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="container">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="container">
    <%= form.label :proj_link, "Project Link" %>
    <%= form.url_field :proj_link, id: :project_proj_link, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="container">
    <%= label :projType, "Project Type" %>
    <ol class="rbs">
      <li>
        <%= form.radio_button(:projType, "0") %>
        <%= form.label(:projType_0, "iOS") %>
      </li>
      <li>
        <%= form.radio_button(:projType, "1") %>
        <%= form.label(:projType_1, "Web") %>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="field">
      <%= form.label :projImage, 'Project Image' %>
      <%= form.file_field :projImage %>
    </div>
  </div>
</div>
<br>
<%= link_to "Cancel", admin_url(current_user), class: 'btn btn-default' %>
<%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
