<div class="row project-row">
  <div class="col-md-4 image-container">

     <% if !val.proj_link.nil? %>

        <div class="hovereffect">
          <%= image_tag val.projImage.url, class: "img-responsive img-rounded project-img center-block" %>
          <div class="overlay">
            <!-- <h2>Click Me!</h2> -->
            <%= link_to ("<span class='glyphicon glyphicon-link'></span>".html_safe), val.proj_link, class: "info", target: "_blank" %>
          </div>
        </div>
      <% else %>
        <%= image_tag val.projImage.url, class: "img-responsive img-rounded project-img center-block" %>
      <% end %>

  </div>
  <div class="col-md-8">
    <h3><%= link_to_unless(val.proj_link.nil?, val.full_title, val.proj_link, target: "_blank") %></h3>
    <p class="well"><%= val.description %></p>
  </div>
</div>
