<% provide(:title, "Home") %>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>"><%= msg %></div>
<% end %>

<%= render partial: 'type_switcher' %>

<% @projects.each_with_index do |val, index | %>

  <div class="row project-row">
    <div class="<%= index % 2 == 0 ? 'col-md-4' : 'col-sm-12 col-md-4 col-md-push-8' %>  image-container">

      <% if !val.proj_link.nil? %>

        <div class="hovereffect">
          <%= image_tag val.projImage.url, class: "img-responsive img-rounded project-img center-block" %>
          <div class="overlay">
            <!-- <h2>Click Me!</h2> -->
            <%= link_to ("<span class='glyphicon glyphicon-link'></span>".html_safe), val.proj_link, class: "info", target: "_blank" %>
          </div>
        </div>
      <% else %>
        <%= image_tag val.projImage.url, class: "img-responsive img-rounded project-img center-block" %>
      <% end %>

    </div>
    <div class="<%= index % 2 == 0 ? 'col-md-8' : 'col-sm-12 col-md-8 col-md-pull-4' %>">
      <h3><%= link_to_unless(val.proj_link.nil?, val.full_title, val.proj_link, target: "_target")%></h3>
      <p class="well"><%= val.description %></p>
    </div>
  </div>

<% end %>

<%= will_paginate %>

