<% provide(:title, "Home") %>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>"><%= msg %></div>
<% end %>

<%= render partial: 'type_switcher' %>

<% @projects.each_with_index do |val, index | %>

  <% if index % 2 == 0 %>

    <%= render partial: 'leftSide_Project', locals: { val: val } %>

  <% else %>

    <%= render partial: 'rightSide_Project', locals: { val: val } %>

  <% end %>
<% end %>

<%= will_paginate %>
