<% provide(:title, "Home") %>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>"><%= msg %></div>
<% end %>

<%= render partial: 'type_switcher' %>

<% @projects.each_with_index do |val, index | %>

  <% if index % 2 == 0 %>

    <%= render partial: 'leftSide_Project', locals: { val: val } %>

  <% else %>

    <%= render partial: 'rightSide_Project', locals: { val: val } %>

  <% end %>
<% end %>

<%= will_paginate %>

<script>
  $(document).ready(function() {

    // Used to fade in imgs on the first load
    $(".image-container").each(function() {

      var image = $(this).find("img");
      var fadeInObject = ($(this).find(".hovereffect").length == 1) ? $(this).find(".hovereffect") : image;
      if(!image.prop('complete')) {
        $(fadeInObject).css('display','none');
        $(image).on('load', function() {
          $(fadeInObject).fadeIn('slow');
        });
      } else {
        // Handle case where img is already loaded
      }

    });

  });
</script>
